.container {
	font-family: sans-serif;
	max-width: 960px;
	display: flex;
	margin: auto;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

a {
	color: #6969db;
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
	color: #6969db;
}
a:hover {
	color: blue;
}
