@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.back {
	background-color: white;
	padding: 5px;
	position: absolute;
	top: 2vh;
	left: 5vw;
	color: black;
	font-size: 2rem;
	font-family: initial;
	text-decoration: underline;
}

.background {
	background: url("//unsplash.it/2000") no-repeat center center/cover;
	position: absolute;
	top: -40px;
	bottom: -40px;
	left: -40px;
	right: -40px;
	z-index: -1;
	filter: blur(30px);
}
