* {
	box-sizing: border-box;
}

body {
	background: radial-gradient(#2e52a1, #123991);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.back {
	position: absolute;
	top: 2vh;
	left: 5vw;
	color: white;
	font-size: 2rem;
}

.empty {
	height: 150px;
	width: 150px;
	margin: 10px;
	border: 3px solid black;
	background: white;
}

.fill {
	background-image: url("//unsplash.it/150");
	height: 145px;
	width: 145px;
	cursor: pointer;
}

.hold {
	border: 5px solid #aaaaaa;
}

.hovered {
	background-color: #333333;
	border-color: white;
	border-style: dashed;
}

@media (max-width: 800px) {
	body {
		flex-direction: column;
	}
}
