@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #f5f5f5;
	color: #444;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.back {
	position: absolute;
	top: 2vh;
	left: 5vw;
	color: black;
	font-size: 2rem;
	font-family: initial;
}

h1 {
	color: rgb(179, 131, 226);
	font-size: 10rem;
	text-align: center;
	opacity: 0.4;
	margin: 0;
}

form {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	max-width: 100%;
	width: 400px;
}

.input {
	border: none;
	color: #444;
	font-size: 2rem;
	padding: 1rem 2rem;
	display: block;
	width: 100%;
}

.input:focus {
	outline: solid 3px rgb(179, 131, 226);
}

.input::placeholder {
	color: #d5d5d5;
}

.todos {
	background-color: white;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.todos li {
	border-top: 1px solid #e5e5e5;
	cursor: pointer;
	font-size: 1.5rem;
	padding: 1rem 2rem;
}

.todos li.completed {
	color: #b6b6b6;
	text-decoration: line-through;
}

small {
	color: #b5b5b5;
	margin-bottom: 3rem;
	text-align: center;
}
